<div class="ui middle aligned center aligned grid">
	<div class="row">
	  <h1 class="ui header">{{msg}}</h1>
	  <div>
	  <form method="post" action="/profile/add">
	  	<button name="treat" class="ui button" type="submit" class="treat">New Random Treat</button>
	  </form>
	  </div>
	</div>
</div>