<div class="ui middle aligned center aligned grid">
	<h1 class="ui header">{{msg}}</h1>
  	<div class="row">
  		<form action="/treat" method="post">
			<button name="treat" class="ui button" type="submit" class="treat" >Random Treat</button>
			{{!-- <button name="treat" value="caramel apple" class="ui button" type="submit" class="treat" >caramel apple</button>
			<button name="treat" value="kit kat" class="ui button" type="submit" class="treat" >kit kat</button>
			<button name="treat" value="chocolate" class="ui button" type="submit" class="treat" >chocolate</button> --}}
    	</form>
  	</div>
  	<script type="text/javascript">
  	$(.treat).
  	</script>
</div>